<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'SFProDisplay';
            src: url('https://d1i3enf1i5tb1f.cloudfront.net/assets/Fonts/SFProDisplay-Medium.woff2') format('woff2'), url('https://d1i3enf1i5tb1f.cloudfront.net/assets/Fonts/SFProDisplay-Medium.woff') format('woff');
            font-weight: 500;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'SFProDisplay';
            src: url('https://d1i3enf1i5tb1f.cloudfront.net/assets/Fonts/SFProDisplay-Bold.woff2') format('woff2'), url('https://d1i3enf1i5tb1f.cloudfront.net/assets/Fonts/SFProDisplay-Bold.woff') format('woff');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'SFProDisplay';
            src: url('https://d1i3enf1i5tb1f.cloudfront.net/assets/Fonts/SFProDisplay-Semibold.woff2') format('woff2'), url('https://d1i3enf1i5tb1f.cloudfront.net/assets/Fonts/SFProDisplay-Semibold.woff') format('woff');
            font-weight: 600;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'SFProDisplay';
            src: url('https://d1i3enf1i5tb1f.cloudfront.net/assets/Fonts/SFProDisplay-Regular.woff2') format('woff2'), url('https://d1i3enf1i5tb1f.cloudfront.net/assets/Fonts/SFProDisplay-Regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @media (max-width:767px) {
            center {
                line-height: 18px !important;
                margin: 0 auto !important;
                width: 100% !important;
                font-size: 12px !important;
            }

            .m-div {
                padding: 20px !important;
            }

            .pro-box-main {
                padding: 12px !important;
            }

            td {
                vertical-align: top;
            }

            .td-img {
                width: 100px !important;
            }

            .product-img {
                height: 88px !important;
                width: 88px !important;
                margin-right: 10px;
            }

            .social-clicks {
                padding: 6px !important;
            }

            .i-name {
                font-size: 14px !important;
                white-space: normal !important;
            }

            .container-div {
                padding: 15px !important;
            }

            .container-logo-div {
                margin-bottom: 15px !important;
            }

            .i-divs {
                padding: 15px !important;
                min-height: 175px;
            }
        }
    </style>
</head>
<body style="margin:0;">
    <center style=" width:656px; font-family: 'SFProDisplay',Arial;font-weight: 400;letter-spacing: 0.5px;line-height: 22px;font-size: 14px;color: #2F2F2F;background-color: #F5F7FA;margin:20px auto">

        <div class="m-div" style="padding: 32px;">
            <div class="container-logo-div" style="margin:auto;padding-bottom:0;margin-bottom: 32px;">
                <table cellpadding="0" cellspacing="0" border="0" style="width:100%;font-family: 'SFProDisplay',Arial;font-weight: 300;line-height: 24px;">
                    <tbody>
                        <tr>
                            <td style="text-align: left;width: 50%;">
                                <img style="height: 40px;width: auto;" src="https://d1vqfl8cu8qgdj.cloudfront.net/assets/img/b2cLOGO.svg" alt="Rayna Tours" width="106" height="40">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!------------------ Cart Abandonment Content ------------------>
            <div class="container-div" style="margin: auto; padding: 32px; background-color: #fff; border-radius: 16px;margin-bottom:16px ">
                <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                    <tbody>
                        <tr>
                            <td>
                                <div style="">
                                    <div style="font-size: 22px;font-weight: 700;font-family: Montserrat;line-height: 30px;margin-bottom: 24px;letter-spacing:0">Your Adventure Awaits</div>

                                    <div style="background-color: #FFFAF7; padding: 12px; border-radius: 15px; margin-bottom: 24px; color: #FF8229;font-weight:600;">
                                        <img style="vertical-align:middle;margin-right:8px;" src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/cart.png" height="24" width="24">
                                        <span>Your Cart Will Expire Soon</span>
                                    </div>

                                    <div style="color: #5F5F5F;line-height: 22px;margin-bottom: 24px;">Dear {{customer_name}},</div>
                                    <div style="font-weight: 500;line-height: 22px;margin-bottom: 16px;">Greetings from Rayna Tours!</div>
                                    <div style="color: #5F5F5F;margin-bottom: 24px;">
                                        We noticed you left something amazing in your cart. This experience is in high demand and availability is limited. Complete your booking now to secure your spot!
                                    </div>
                                    <div style="margin-bottom: 24px; margin-top: 10px;">
                                        <a href="{{cta_url}}" style="font-size: 12px;font-weight: 500;color: #2f2f2f;width: max-content;text-align: center;display: block;border: 1px solid #2f2f2f;height: 38px;line-height: 38px;border-radius: 4px;text-decoration: none;padding: 0 15px;">
                                            <span>Complete Booking</span>
                                        </a>
                                    </div>
                                    <div style="margin-bottom: 24px;line-height: 22px;">
                                        <div style="color: #5F5F5F;">If you have any questions or need assistance, feel free to reach out to us.</div>
                                    </div>
                                    <div style="margin-bottom: 24px;line-height: 22px;">
                                        <div style="color: #5F5F5F;">Regards,</div>
                                        <div style="font-weight: 500;">Team Rayna Tours</div>
                                    </div>
                                </div>

                                {{#products}}
                                <div class="pro-box-main" style="margin-bottom: 24px; line-height: normal; padding: 24px; border-radius: 16px; background-color: #fff; box-shadow: 0 6px 16px 0 rgba(0,0,0,.1); -webkit-box-shadow: 0 6px 16px 0 rgba(0,0,0,.1); color: #5F5F5F;">
                                    <table class="res-table" cellpadding="0" cellspacing="0" border="0" style="width:100%;font-size: 12px;">
                                        <tbody>
                                            <tr>
                                                <td class="td-img" style="width: 212px;">
                                                    <img class="product-img" src="{{product_image}}" style="height: 188px;width: 188px;border-radius: 16px;">
                                                </td>
                                                <td>
                                                    <div style="font-weight: 400;margin-bottom: 4px;text-transform: uppercase;">{{product_category}}</div>
                                                    <div class="i-name" style="font-size: 18px; font-family: Montserrat, sans-serif; font-weight: 600; letter-spacing: 0; max-width: 270px; margin-bottom: 12px; color: #2F2F2F;">{{product_name}}</div>
                                                    <div style="margin-bottom: 4px;">
                                                        <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/list-icon/si-calender.png" style="vertical-align: middle;margin-right: 4px;">
                                                        <span>{{event_date}}</span>
                                                    </div>
                                                    <div style="margin-bottom:4px;">
                                                        <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/list-icon/si-transfer.png" style="vertical-align: middle;margin-right: 4px;">
                                                        <span>{{product_variant}}</span>
                                                    </div>
                                                    <div>
                                                        <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/list-icon/si-user.png" style="vertical-align: middle;margin-right: 4px;">
                                                        <span>{{adult_count}} Adults {{child_count}} Children</span>
                                                    </div>
                                                    <div style="border-top:1px solid #eee;padding-top:12px;margin-top: 12px;">
                                                        <span style=" font-size: 14px; font-weight: 700; color: #2f2f2f; margin-right: 5px;">AED {{product_price}}</span><span style="text-decoration: line-through;">AED {{product_strike_price}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{/products}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div style="font-size:16px;line-height:22px;font-weight:500;margin-bottom:16px;">Why book with Rayna Tours?</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="i-divs" style="background-color: #fff8f5; padding: 32px 16px; margin-bottom: 15px; border-radius: 8px; ">
                                    <div style="margin-bottom: 12px;height:40px">
                                        <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/free-cancellation.png" height="30" width="30">
                                    </div>
                                    <div style="font-weight: 600;font-family: Montserrat;line-height: 20px;letter-spacing: 0;margin-bottom: 16px;">Free Cancellation</div>
                                    <div style="font-weight: 400;color: #5F5F5F;">
                                        Change or Cancel your booking with no extra charges.
                                    </div>
                                </div>
                            </td>
                            <td width="24"></td>
                            <td>
                                <div class="i-divs" style="background-color: #FFFEF7; padding: 32px 16px; margin-bottom: 15px; border-radius: 8px;">
                                    <div style="margin-bottom: 12px;height:40px">
                                        <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/deal.png" height="30" width="30">
                                    </div>
                                    <div style="font-weight: 600;font-family: Montserrat;line-height: 20px;letter-spacing: 0;margin-bottom: 16px;">Instant Confirmation</div>
                                    <div style="font-weight: 400;color: #5F5F5F;">
                                        Confirmed immediately, with no waiting time.
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="i-divs" style="background-color: #F7FCFF; padding: 32px 16px; margin-bottom: 15px; border-radius: 8px;">
                                    <div style="margin-bottom: 12px;">
                                        <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/cashback.png" height="40" width="40">
                                    </div>
                                    <div style="font-weight: 600;font-family: Montserrat;line-height: 20px;letter-spacing: 0;margin-bottom: 16px;">Instant Cashback</div>
                                    <div style="font-weight: 400;color: #5F5F5F;">
                                        Earn and Redeem R points to avail instant cashback.
                                    </div>
                                </div>
                            </td>
                            <td width="24"></td>
                            <td>
                                <div class="i-divs" style="background-color: #FFF7F8; padding: 32px 16px; margin-bottom: 15px; border-radius: 8px;">
                                    <div style="margin-bottom: 12px;height:40px">
                                        <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/wishlist.png" height="30" width="33">
                                    </div>
                                    <div style="font-weight: 600;font-family: Montserrat;line-height: 20px;letter-spacing: 0;margin-bottom: 16px;">Best Price Guarantee</div>
                                    <div style="font-weight: 400;color: #5F5F5F;">
                                        Guarantee if you find it cheaper, we'll match it.
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!------------------ For any further assistance ------------------>
            <div class="container-div" style="margin: auto; padding: 32px; background-color: #fff; border-radius: 16px;margin-bottom:20px;">
                <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <div style="font-size: 18px;font-weight: 700;font-family: Montserrat;line-height: 30px;letter-spacing: 0;">For any further assistance</div>
                                <div style="font-size: 12px;color: #5F5F5F;margin-bottom: 16px;">Please contact 24/7 helpline</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-right: 10px;">
                                <a href="tel:+97142837777" style="display: block; text-decoration: none; font-size: 12px; color: #5F5F5F; font-weight: 500; border: 1px solid #EAE9E9; padding: 10px; border-radius: 8px; line-height: 18px; text-align: center;">
                                    <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/footer-icon/calll.png" style="vertical-align: middle;margin-right: 6px;"><span>Call Us</span>
                                </a>
                            </td>
                            <td style="padding-right: 10px;">
                                <a href="https://wa.me/971505726568" style="display: block; text-decoration: none; font-size: 12px; color: #5F5F5F; font-weight: 500; border: 1px solid #EAE9E9; padding: 10px; border-radius: 8px; line-height: 18px; text-align: center;">
                                    <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/footer-icon/wahtsapp.png" style="vertical-align: middle;margin-right: 6px;"><span>WhatsApp</span>
                                </a>
                            </td>
                            <td>
                                <a href="mailto:support@raynatours.com" style="display:block; text-decoration:none; font-size: 12px;color: #5F5F5F;font-weight: 500;border: 1px solid #EAE9E9;padding: 10px;border-radius: 8px;line-height: 18px;text-align: center;">
                                    <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/footer-icon/mail.png" style="vertical-align: middle;margin-right: 6px;"><span>Email Us</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!------------------ Footer ------------------>
            <div class="container-div" style="margin: auto; padding: 20px; ">
                <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                    <tbody>
                        <tr>
                            <td colspan="4" style="font-weight: 500;">
                                <div style=" font-weight: 500; margin-bottom: 12px;"> Download our App</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div>
                                    <a style="text-decoration: none;" href="#">
                                        <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/footer-icon/App-Store.png" style="margin-right:5px;">
                                    </a>
                                    <a style="text-decoration: none;" href="#">
                                        <img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/footer-icon/Google-Play.png">
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div style=" font-weight: 500; margin-top: 24px; margin-bottom: 12px;">Follow us</div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 46px;">
                                <a href="#" style="display: block; text-decoration: none; height: 34px; width: 34px; border-radius: 13px; border: 1px solid #EAE9E9; text-align: center; line-height: 36px; "><img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/footer-icon/fb.png"></a>
                            </td>
                            <td style="width: 46px;">
                                <a href="#" style="display: block; text-decoration: none; height: 34px; width: 34px; border-radius: 13px; border: 1px solid #EAE9E9; text-align: center; line-height: 36px;"><img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/footer-icon/twitter.png"></a>
                            </td>
                            <td style="width: 46px;">
                                <a href="#" style="display: block; text-decoration: none; height: 34px; width: 34px; border-radius: 13px; border: 1px solid #EAE9E9; text-align: center; line-height: 36px;"><img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/footer-icon/insta.png"></a>
                            </td>
                            <td style="">
                                <a href="#" style="display: block; text-decoration: none; height: 34px; width: 34px; border-radius: 13px; border: 1px solid #EAE9E9; text-align: center; line-height: 36px;"><img src="https://d1i3enf1i5tb1f.cloudfront.net/assets/Email-Temp/footer-icon/in.png"></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div style=" line-height: 18px; margin-top: 12px; color: #5F5F5F; font-size: 12px;">
                                    Note: Please do not reply to this e-mail.<br>
                                    This was sent from an automated mail service that cannot accept incoming e-mails.
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </center>
</body>
</html>
