# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# env files
*.local
.env*.local

# logs
*.log
npm-debug.log*

# misc
.DS_Store
*.pem

# editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
